/*GLOBAL*/

html, body {
	font-family: 'Avenir-Medium', serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

input {
	display: none;
}

[id*=bar-] {
	background: #000;
	display: block;
	position: absolute;
	z-index: 9999;
}

#bar-top {width: 100%; height: 15px; top: 0;}
#bar-right {width: 15px; height: 100%; right: 0;}
#bar-bottom {width: 100%; height: 15px; bottom: 0;}
#bar-left {width: 15px; height: 100%; left: 0;}

.masque {
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.8);	
}

.section:first-child {
	padding: 0;
}

/*SONDAGE*/
#slide-sondage {
	background: url(../css/image/interactif.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}

.results tr{
	display: inline-block;
	vertical-align: bottom;
}

#poll {
	position: absolute;
	bottom: 10%;
	left: 75px;
	color: #fff;
}

#poll h3 {
	font-size: 36px;
}

label {
	cursor: pointer;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Avenir-Roman';
	margin: 15px 50px 0 25px;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}

label:hover {
	transform: translateX(10px);
}

/*VIDEO*/

video{
	display:block;
	margin:0 auto;
	margin-left: 0px;
	width:100%;
}

#progressBar{
	width:80%;
	height:4px;
	border:1px solid #fff;
	position:absolute;
	bottom:30px;
	left:10%;
	opacity:.6;
	z-index:6;
}

#progressBar span{
	height:4px;
	background-color:#fff;
	display:inline-block;
	position:absolute;
	top:-1px;
}

#progressBar .progress{
	z-index:7;
}

#progressBar .buffer{
	opacity:.5;
}

#button{
	position:absolute;
	bottom:4%;
	left:7%;
	z-index:2;
	height:15px;
	width:15px;
	border:2px solid #fff;
	background: url();
	opacity:.6;
	text-align:center;
	background:transparent;transition:opacity .2s ease, -webkit-transform .2s ease;
}

#button.play{
	-webkit-transform:scale(2);
	opacity:0;
}

#button.loading{
	-webkit-animation: loading 1s infinite linear;
	width: 5px;
	height: 5px;
	background-color: white;
	border-radius: 5px;
}

#button span{
	display:inline-block;
	height:100px;
	width:40px;
	background:#fff;
	margin:4em .5em 0 0;
}

@-webkit-keyframes loading {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

/* AUTRE VIDEO */
.video1{
	background: url(../css/image/interactif.jpg) no-repeat center center;
	background-size: cover;
}

/*SECONDVIDEO*/

#secondprogressBar{
	width:80%;
	height:4px;
	border:1px solid #fff;
	position:absolute;
	bottom:30px;
	left:10%;
	opacity:.6;
	z-index:6;
}

#secondprogressBar span{
	height:4px;
	background-color:#fff;
	display:inline-block;
	position:absolute;
	top:-1px;
}

#secondprogressBar .progress{
	z-index:7;
}

#secondprogressBar .buffer{
	opacity:.5;
}

#secondbutton{
	position:absolute;
	bottom:4%;
	left:7%;
	z-index:2;
	height:25px;
	width:25px;
	opacity:.6;
	text-align:center;
	background:transparent;transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, -o-transform,
	transform .2s ease;
	background: url(../css/image/play.png) no-repeat center center;
}

#secondbutton.play{
	-webkit-transform:scale(2);
	-moz-transform:scale(2);
	-ms-transform:scale(2);
	-o-transform:scale(2);
	transform:scale(2);
	opacity:0;
}

#secondbutton.loading{
	-webkit-animation: loading 1s infinite linear;
	-moz-animation: loading 1s infinite linear;
	-ms-animation: loading 1s infinite linear;
	-o-animation: loading 1s infinite linear;
	animation: loading 1s infinite linear;
}

#secondbutton span{
	display:inline-block;
	height:100px;
	width:40px;
	background:#fff;
	margin:4em .5em 0 0;
}

@-webkit-keyframes loading {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

/*IMAGE INTERACTIF*/
.imgInteractive{
	background: url(../css/image/bed.jpg) no-repeat center center;
	background-size: cover;
}

/*ELEMENTS*/
.element1{
	position: absolute;
	z-index: 50;
	cursor: pointer;
	margin-left:500px;
	margin-top:300px;
	width: 100px;
	height: 100px;
	background-color: black;
	cursor: pointer;
}

.element2{
	position: absolute;
	z-index: 50;
	cursor: pointer;
	margin-left:1000px;
	margin-top:300px;
	width: 100px;
	height: 100px;
	background-color: red;
	cursor: pointer;
}

.hide{
	display: none;
}

/*FULLSCREEN*/

.fullscreen{
	background: url(../css/image/fullscreen.svg) no-repeat;
	width: 50px;
	height: 50px;
	opacity:.6;
	position: absolute;
	top:93%;
	left:90%;
	z-index: 20;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
}

.glyphicon-fullscreen{
	color: white;
}

.fondinteractif{
	background: url(../css/image/bureau.jpg) no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}

/*INTERACTION*/

.lightbox{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.7);
	color: white;
	position: absolute;
	z-index: 20;
	cursor: url(../css/image/close.png), auto;
}

.lightbox .texte{
	margin-top: 11%;
	margin-left: 10%;
	text-align: justify;
	width: 50%;
}

.titre{
	font-size: 30px;
	width: 120%;
}

.interaction1{
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	left: 350px;
	top: 180px;
	cursor: pointer;
}

.fondinteractif .interaction1:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, -o-transform,
	transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

.interaction2{
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	left: 120px;
	bottom: 50px;
	cursor: pointer;
}

.fondinteractif .interaction2:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, -o-transform,
	transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

.interaction3{
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	left: 380px;
	bottom:70px;
	cursor: pointer;
}

.fondinteractif .interaction3:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, -o-transform,
	transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

.interaction4{
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	left: 590px;
	bottom:110px;
	cursor: pointer;
}

.fondinteractif .interaction4:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, -o-transform,
	transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

.interaction5{
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	left: 790px;
	bottom:110px;
	cursor: pointer;
}

.fondinteractif .interaction5:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, -o-transform,
	transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

/*IMAGE INTERACTIVE*/

.fondinteractif2 {
	background: url('image/woman.png') no-repeat right bottom;
	background-size: contain;
}

.fondinteractif2 .inter1{
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	right: 260px;
	top: 120px;
	cursor: pointer;
}

.fondinteractif2 .inter1:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, -o-transform,
	transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

.fondinteractif2 .inter2{
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	right: 220px;
	top: 200px;
	cursor: pointer;
}

.fondinteractif2 .inter2:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, -o-transform,
	transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

.fondinteractif2 .inter3{
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	right: 380px;
	top: 400px;
	cursor: pointer;
}

.fondinteractif2 .inter3:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, -o-transform,
	transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

.fondinteractif2 .inter4{
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	right: 180px;
	top: 480px;
	cursor: pointer;
}

.fondinteractif2 .inter4:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, -o-transform,
	transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

.fondinteractif2 .texte{
	position: absolute;
	margin-top: 11%;
	margin-left: 130px;
	text-align: justify;
	color: white;
	width: 540px;
}
/*INTERACTIF 2*/


/*MEDIA QUERIES*/

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}