/*GLOBAL*/

html, body {
	font-family: 'Avenir-Medium', serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

input {
	display: none;
}

[id^=bar-] {
	background: #000;
	display: block;
	position: absolute;
	z-index: 9999;
}

#bar-top {width: 100%; height: 15px; top: 0;}
#bar-right {width: 15px; height: 100%; right: 0;}
#bar-bottom {width: 100%; height: 15px; bottom: 0;}
#bar-left {width: 15px; height: 100%; left: 0;}

.masque {
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.8);	
}

.section:first-child {
	padding: 0;
}

h4 {
	text-transform: uppercase;
	color: #666;
	font-family: 'Avenir-Black';
	font-size: 14px;
}

#source a {
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	padding-bottom: 2px;
	font-size: 24px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin-top: 10px;
}

.progressBar {
	width:80%;
	height:4px;
	border:1px solid #fff;
	position:absolute;
	bottom: 45px;
	left:10%;
	opacity:1;
	z-index:6;
}

.progress{
	z-index:7;
}

.buffer{
	opacity:.5;
}

.progressBar span{
	height:2px;
	background-color:#fff;
	display:inline-block;
	position:absolute;
}

/*SONDAGE*/


.results tr{
	display: inline-block;
	vertical-align: bottom;
}

#poll {
	position: absolute;
	z-index: 20;
	bottom: 10%;
	left: 75px;
	color: #fff;
	width: 100%;
}

#poll h3 {
	font-size: 36px;
	font-family: 'Avenir-Heavy';
}

label {
	cursor: pointer;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Avenir-Medium';
	margin: 15px 50px 0 35px;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	transition: 0.2s all;
}

label:before {
	content: '';
	display: block;
	width: 24px;
	height: 2px;
	background: #fff;
	margin-left: -35px;
	transform: translateY(30px);
	transform-origin: left;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	transition: 0.2s all;
}

label:hover:before {
	width: 24px!important;
}

.question:before {
	width: 0px!important;
	transform: translateY(20px)!important;
}

/*VIDEO*/

video{
	display:block;
	margin:0 auto;
	margin-left: 0px;
	width:100%;
}

.button{
	position:absolute;
	bottom:4%;
	left:7%;
	z-index:2;
	height:15px;
	width:15px;
	border:2px solid #fff;
	background: url();
	opacity:.6;
	text-align:center;
	background:transparent;transition:opacity .2s ease, -webkit-transform .2s ease;
}

.play{
	-webkit-transform:scale(2);
	-moz-transform:scale(2);
	-ms-transform:scale(2);
	transform:scale(2);
	opacity:0;
}

.loading{
	-webkit-animation: loading 1s infinite linear;
	-moz-animation: loading 1s infinite linear;
	-ms-animation: loading 1s infinite linear;
	animation: loading 1s infinite linear;
	width: 5px;
	height: 5px;
	background-color: white;
	border-radius: 5px;
}

.button span{
	display:inline-block;
	height:100px;
	width:40px;
	background:#fff;
	margin:4em .5em 0 0;
}

/* AUTRE VIDEO */
.video1{
	background: url(../css/image/interactif.jpg) no-repeat center center;
	background-size: cover;
}

/*ELEMENTS*/
.element1{
	position: absolute;
	z-index: 50;
	cursor: pointer;
	margin-left:500px;
	margin-top:300px;
	width: 100px;
	height: 100px;
	background-color: black;
	cursor: pointer;
}

.element2{
	position: absolute;
	z-index: 50;
	cursor: pointer;
	margin-left:1000px;
	margin-top:300px;
	width: 100px;
	height: 100px;
	background-color: red;
	cursor: pointer;
}

.hide{
	display: none;
}

/*FULLSCREEN*/

.fullscreen{
	background: url(../css/image/fullscreen.svg) no-repeat;
	width: 50px;
	height: 50px;
	opacity:1;
	position: absolute;
	bottom: 1%;
	right: 2%;
	z-index: 20;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
}

.glyphicon-fullscreen{
	color: white;
}

.fondinteractif{
	background: url(../css/image/bureau.jpg) no-repeat;
}

/*INTERACTION*/

.lightbox{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.7);
	color: white;
	position: absolute;
	z-index: 20;
	cursor: url(../css/image/close.png), auto;
}

.lightbox2{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.7);
	color: white;
}

.lightbox .texte{
	margin-top: 11%;
	margin-left: 10%;
	text-align: left;
	width: 50%;
}

.titre{
	font-size: 30px;
	width: 120%;
}

[class^=inter] {
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	cursor: pointer;
}

.interaction1{left: 30%;top: 30%;}
.interaction2{left: 10%;bottom: 8%;}
.interaction3{left: 30%;bottom:9%;}
.interaction4{left: 46%;bottom:17%;}
.interaction5{left: 63%;bottom:20%;}

[class^=interaction]:hover, [class^=inter]:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	transform:scale(1.5);
}

/*IMAGE INTERACTIVE*/

.fondinteractif2 {
	background: url('image/woman.png') no-repeat right bottom;
	background-size: contain;
}

.inter1{right: 260px;top: 120px;}
.inter2{right: 220px;top: 200px;}
.inter3{right: 380px;top: 400px;}
.inter4{right: 180px;top: 480px;-
}

.fondinteractif2 .texte{
	position: absolute;
	margin-top: 11%;
	margin-left: 130px;
	text-align: left;
	color: white;
	width: 540px;
}
/*INTERACTIF 2*/


/*MEDIA QUERIES*/

@media(max-width:767px){

}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}