/*GLOBAL*/

.error{
	display: none;
}

html, body {
	font-family: 'Avenir-Book', serif;
	font-size: 12px;
}

#logo {
	width: 48px;
	height: 48px;
	display: block;
	background: url('image/logo-white.svg') no-repeat center;
	position: fixed;
	top: 20px; 
	left: 20px;
	z-index: 9999;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

h2 {
	font-size: 24px;
	color: #fff;
	font-family: 'Avenir-Heavy';
	margin-bottom: 15px;
}

input {
	display: none;
}

[id^=bar-] {
	background: #000;
	display: block;
	position: absolute;
	z-index: 9999;
}

a, a:hover, a:focus, a:active, a:visited {
	color: #fff;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

#bar-top {width: 100%; height: 15px; top: 0;}
#bar-right {width: 15px; height: 100%; right: 0;}
#bar-bottom {width: 100%; height: 15px; bottom: 0;}
#bar-left {width: 15px; height: 100%; left: 0;}

.masque {
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.8);	
}

.progressBar {
	width:40%;
	height:4px;
	background: #666;
	position:absolute;
	bottom: 36px;
	left:30%;
	opacity:1;
	z-index:6;
}

.progress{
	z-index:7;
}

.buffer{
	opacity:.5;
}

.progressBar span{
	height:4px;
	background-color:#fff;
	display:inline-block;
	position:absolute;
}

/*SONDAGE*/


.results tr{
	display: inline-block;
	vertical-align: bottom;
}

#poll {
	position: absolute;
	z-index: 20;
	bottom: 60px;
	left: 100px;
	color: #fff;
	width: 100%;
}

#poll h3 {
	font-size: 24px;
	font-family: 'Avenir-Heavy';
}

label {
	cursor: pointer;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Avenir-Medium';
	margin: 15px 50px 0 25px;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	transition: 0.2s all;
}

label:before {
	content: '';
	display: block;
	width: 14px;
	height: 2px;
	background: #fff;
	margin-left: -25px;
	transform: translateY(15px);
	transform-origin: left;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	transition: 0.2s all;
}

label:hover:before {
	width: 14px!important;
}

.question:before {
	width: 0px!important;
	transform: translateY(10px)!important;
}

/*VIDEO*/

video{
	display:block;
	margin:0 auto;
	margin-left: 0px;
	width:100%;
}

.button{
	position:absolute;
	bottom:30px;
	left:27.5%;
	z-index:2;
	height:15px;
	width:15px;
	background: url('image/play.png') no-repeat center;
	background-size: contain;
	text-align:center;
	cursor: pointer;
}

.play{
	-webkit-transform:scale(2);
	-moz-transform:scale(2);
	-ms-transform:scale(2);
	transform:scale(2);
	opacity:0;
}

.loading{
	-webkit-animation: loading 1s infinite linear;
	-moz-animation: loading 1s infinite linear;
	-ms-animation: loading 1s infinite linear;
	animation: loading 1s infinite linear;
	width: 5px;
	height: 5px;
	background-color: white;
	border-radius: 5px;
}

.button span{
	display:inline-block;
	height:100px;
	width:40px;
	background:#fff;
	margin:4em .5em 0 0;
}

/* AUTRE VIDEO */
.video1{
	background: url(../css/image/interactif.jpg) no-repeat center center;
	background-size: cover;
}

/*ELEMENTS*/

[class^=element]{
	position: absolute;
	z-index: 50;
	cursor: pointer;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.element1{
	margin-left:500px;
	margin-top:300px;
	background-color: black;
}

.element2{
	margin-left:1000px;
	margin-top:300px;
	background-color: red;
}

.element3{
	margin-left:700px;
	margin-top:320px;
	background-color: blue;
}

.hide{
	display: none;
}

/*FULLSCREEN*/

.fullscreen{
	background: url(../css/image/fullscreen.svg) no-repeat;
	width: 48px;
	height: 24px;
	opacity:1;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 20;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
}

.glyphicon-fullscreen{
	color: white;
}

.fondinteractif{
	background: url(../css/image/bureau.jpg) no-repeat center center;  
	background-size: cover;   
}

/*INTERACTION*/

.lightbox{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.9);
	color: white;
	position: absolute;
	z-index: 20;
	cursor: url(../css/image/close.png), auto;
}

.lightbox2{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.9);
	color: white;
	position: absolute;
	z-index: 20;
}

.texte{
	position: absolute;
	transform-origin: bottom left;
	bottom: 40px;
	left: 100px;
	text-align: left;
	width: 39%;
}

.titre{
	font-size: 24px;
	font-family: 'Avenir-Heavy';
	width: 120%;
}

[class^=inter] {
	position: absolute;
	z-index: 20;
	width: 15px;
	height: 15px;
	border-radius: 150px;
	background-color: white;
	cursor: pointer;
}

.interaction1{left: 45%;top: 20%;}
.interaction2{left: 35%;bottom: 35%;}
.interaction3{left: 50%;bottom:30%;}
.interaction4{left: 63%;bottom:37%;}
.interaction5{left: 65%;bottom:10%;}

[class^=inter]:hover{
	transition:opacity .2s ease, -webkit-transform, -moz-transform, -ms-transform, transform .2s ease;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	transform:scale(1.5);
}

/*IMAGE INTERACTIVE*/

.fondinteractif2 {
	background: url('image/woman.png') no-repeat right bottom;
	background-size: contain;
}

.inter1{right: 260px;top: 120px;}
.inter2{right: 220px;top: 200px;}
.inter3{right: 380px;top: 400px;}
.inter4{right: 180px;top: 480px;-
}

.fondinteractif2 .texte{
	position: absolute;
	bottom: 40px;
	left: 100px;
	text-align: left;
	color: white;
	width: 540px;
}

/*CHOOSE*/

.back{
	background: url('image/retine.jpg') no-repeat center;
}
.back2{
	background: url('image/coeur.jpg') no-repeat center;
}
.back3{
	background: url('image/prothese.jpg') no-repeat center;
}

[class^=back] {
	height: 100%;
	background-size: cover;
	cursor: pointer;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	transition: 0.2s all;
}

/*MEDIATHEQUE*/

#source {
	padding: 20px;
}

#source h4 {
	text-transform: uppercase;
	font-family: 'Avenir-Black';
	font-size: 10px;
	margin-top: 40px;
	margin-bottom: 5px;
	color: #ccc;
}

#source li a {
	font-size: 14px!important;
}

/*#source ul {
	-webkit-columns: 2 400px;
	-webkit-column-gap: 20px;
	-moz-columns: 2 400px;
}*/

/*ABOUT*/

#about .content, #source .content{
	position: absolute;
	z-index: 1;
	bottom: 40px;
	left: 100px;
	width: 900px;
}

#about p {
	font-size: 12px;
	color: #fff;
	line-height: 1.5em;
}

.content {
	width: 900px;
}

#thanks {
	margin-top: 40px;
}

.thanks-id {
	display: inline-block;
	margin-right: 25px;
}

.thanks-id:last-child {
	margin-right: 0;
}

.thanks-id p:first-child{
	color: #ccc!important;
	font-family: 'Avenir-Heavy';
	text-transform: uppercase;
	font-size: 10px!important;
	margin: 0;
}

.thanks-id p:last-child{
	font-family: 'Avenir-Black';
	font-size: 14px!important;
	margin: 0;
}

#sociaux {
	margin-top: 75px;
}

#sociaux p:first-child{
	color: #ccc;
	font-size: 10px!important;
	text-transform: uppercase;
	font-family: 'Avenir-Heavy';
	margin-bottom: 5px;
}

#sociaux a {
	font-family: 'Avenir-Black';
}

#sociaux p:last-child {
	margin-top: -10px;
}

/*MEDIA QUERIES*/

@media(max-width:650px){
	.error{
		display: inline-block;
		width: 100%;
		height: 600px;
		position: absolute;
		z-index: 10;
		text-align: center;
		vertical-align: middle;
		line-height: 600px;
	}
	.error p {
		color: black;
	}
	#fullpage{
		display: none;
	}
}

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}